body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center; /* Center the text inside the container */
}

h1 {
    color: #333;
    margin-bottom: 20px; /* Add space below the header */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #555;
}

select, input, button {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

.button-green {
    background-color: #28a745;
}

.button-green:hover {
    background-color: #218838;
}

.button-red {
    background-color: #dc3545;
}

.button-red:hover {
    background-color: #c82333;
}

#second-dropdown-container {
    margin-top: 10px;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #007BFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin-top: 20px;
    display: none;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#file-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
}
#file-list li {
    background-color: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#file-list li a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}
#file-list li a:hover {
    text-decoration: underline;
}