<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MANGANLOADER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>MANGANLOADER</h1>
        <form id="options-form">
            <label for="manga-dropdown">Manga:</label>
            <select id="manga-dropdown">
                <!-- Options will be populated dynamically -->
            </select>

            <div id="source-dropdown-container" style="display: none;">
                <label for="source-dropdown">Source:</label>
                <select id="source-dropdown">
                    <!-- Options will be populated dynamically -->
                </select>
            </div>

            <label for="format-dropdown">Target file format:</label>
            <select id="format-dropdown">
                <!-- Options will be populated dynamically -->
            </select>

            <div id="device-dropdown-container" style="display: none;">
                <label for="device-dropdown">Device:</label>
                <select id="device-dropdown">
                    <!-- Options will be populated dynamically -->
                </select>
            </div>

            <label for="number-input">Number of latest chapters to download:</label>
            <input type="number" id="number-input" name="number-input" value="1" min="1" required>

            <div id="checkbox-container" style="display: none;">
                <label for="special-checkbox">Double-spread version:</label>
                <input type="checkbox" id="double-spread-checkbox" name="double-spread-checkbox">
            </div>

            <button type="button" id="download-button" disabled>Download</button>
        </form>
        <div class="spinner" id="spinner"></div>
    </div>

    <script>
        const mangaChoiceOptions = JSON.parse('{{ manga_names_mapping|tojson|safe }}');
        const sourceChoiceOptions = JSON.parse('{{ source_names_mapping|tojson|safe }}');
        const formatChoiceOptions = JSON.parse('{{ supported_formats|tojson|safe }}');
        const deviceChoiceOptions = [
            'K1', 'K11', 'K2', 'K34', 'K578', 'KDX', 'KPW', 'KV', 'KPW5', 'KO', 'KS', 'KoMT', 'KoG', 'KoGHD', 'KoA', 'KoAHD', 'KoAH2O', 'KoAO', 'KoN', 'KoC', 'KoCC', 'KoL', 'KoLC', 'KoF', 'KoS', 'KoE', 'Rmk1', 'Rmk2', 'RmkPP', 'OBC', 'OTHER'
        ]
        const spinner = document.getElementById('spinner');
        spinner.style.display = 'none';

        function populateMangaDrowdown() {
            const mangaChoice = document.getElementById('manga-dropdown');

            // clear previous options
            mangaChoice.innerHTML = '<option value="">-</option>';

            if (mangaChoiceOptions) {
                const mangaListKeys = Object.keys(mangaChoiceOptions);
                mangaListKeys.forEach(mangaKey => {
                    const opt = document.createElement('option');
                    opt.value = mangaKey;
                    opt.textContent = mangaChoiceOptions[mangaKey];
                    mangaChoice.appendChild(opt)
                });
            }

            // select the first available option
            if (mangaChoice.options.length > 1) {
                mangaChoice.selectedIndex = 1;
            }

            selectValueIfExists('manga-dropdown', 'onepiece_bw');
        }

        function populateSourceDropdown() {
            const mangaChoice = document.getElementById('manga-dropdown');
            const sourceChoice = document.getElementById('source-dropdown');
            const sourceChoiceContainer = document.getElementById('source-dropdown-container');
            const selectedOption = mangaChoice.value;

            // clear previous options
            sourceChoice.innerHTML = '<option value="">-</option>';

            if (selectedOption) {
                sourceChoiceContainer.style.display = 'block';
                // Populate second dropdown based on the selected option
                sourceChoiceOptions[selectedOption].forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option;
                    sourceChoice.appendChild(opt);
                });
            } else {
                sourceChoiceContainer.style.display = 'none';
            }

            // select the first available option
            if (sourceChoice.options.length > 1) {
                sourceChoice.selectedIndex = 1;
            }

            // double-spread checkbox disabled by default
            document.getElementById('double-spread-checkbox').checked = false

            toggleDoubleSpreadCheckbox();
            sendOptionsToBackend();
            validateOptions();
        }

        function populateFormatDropdown() {
            const formatChoice = document.getElementById('format-dropdown');

            // clear previous options
            formatChoice.innerHTML = '<option value="">-</option>';

            if (formatChoiceOptions) {
                formatChoiceOptions.forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option;
                    formatChoice.appendChild(opt);
                })
            }

            // select the first available option
            if (formatChoice.options.length > 1) {
                formatChoice.selectedIndex = 1;
            }

            selectValueIfExists('format-dropdown', 'pdf');
        }

        function populateDeviceDropdown() {
            const format = document.getElementById('format-dropdown').value;
            const deviceChoice = document.getElementById('device-dropdown');
            const deviceChoiceContainer = document.getElementById('device-dropdown-container');

            // clear previous options
            deviceChoice.innerHTML = '<option value="">KCC</option>';

            if (format == "epub") {
                deviceChoiceContainer.style.display = 'block';
                deviceChoiceOptions.forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option;
                    deviceChoice.appendChild(opt);
                });
            } else {
                deviceChoiceContainer.style.display = 'none';
            }
        }

        function validateOptions() {
            const manga = document.getElementById('manga-dropdown').value;
            const source = document.getElementById('source-dropdown').value;
            const format = document.getElementById('format-dropdown').value;
            const numberField = document.getElementById('number-input').value;
            const downloadButton = document.getElementById('download-button');

            var mangaValid = manga && manga != "-"
            var sourceValid = source && source != "-"
            var numberValid = !isNaN(numberField) && numberField >= 1
            var formatValid = format && format != "-"
            if (mangaValid && sourceValid && numberValid && formatValid) {
                downloadButton.disabled = false;
                downloadButton.style.display = 'inline-block';
                // alert("enabled");
            } else {
                downloadButton.disabled = true;
                downloadButton.style.display = 'none';
                // alert("disabled");
            }
        }

        function sendOptionsToBackend() {
            const manga = document.getElementById('manga-dropdown').value;
            const source = document.getElementById('source-dropdown').value;
            const numChaptersToDownload = document.getElementById('number-input').value;
            const format = document.getElementById('format-dropdown').value;
            const device = document.getElementById('device-dropdown').value;
            const generateDoubleSpread = document.getElementById('double-spread-checkbox').checked;

            if (manga && source) {
                fetch('/update_options', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ manga, source, numChaptersToDownload, format, device, generateDoubleSpread })
                }).then(response => response.json())
                    .then(data => {
                        if (data.status === "success") {
                            console.log("Options updated successfully");
                        }
                    }).catch(error => console.error('Error updating options:', error));
            }
        }

        function toggleDoubleSpreadCheckbox() {
            const mangaDropdown = document.getElementById('manga-dropdown').value;
            const formatDropdown = document.getElementById('format-dropdown').value;
            const doubleSpreadCheckbox = document.getElementById('checkbox-container');

            if (mangaDropdown === 'onepiece_bw' && formatDropdown === 'pdf') {
                doubleSpreadCheckbox.style.display = 'block';
            } else {
                doubleSpreadCheckbox.style.display = 'none';
            }
        }

        document.getElementById('number-input').addEventListener('change', function () {
            const numberField = document.getElementById('number-input');
            if (numberField.value < 1) {
                numberField.value = 1;
            }
            sendOptionsToBackend();
        });

        document.getElementById('manga-dropdown').addEventListener('change', function () {
            populateSourceDropdown();
            sendOptionsToBackend();
        });

        document.getElementById('source-dropdown').addEventListener('change', function () {
            sendOptionsToBackend();
            validateOptions();
        });

        document.getElementById('format-dropdown').addEventListener('change', function () {
            populateDeviceDropdown();
            sendOptionsToBackend();
            validateOptions();
            toggleDoubleSpreadCheckbox();
        });

        document.getElementById('double-spread-checkbox').addEventListener('change', function () {
            sendOptionsToBackend();
        });

        document.getElementById('download-button').addEventListener('click', function () {
            spinner.style.display = 'inline-block';
            sendOptionsToBackend();
            fetch('/download', {
                method: 'POST'
            }).then(response => {
                spinner.style.display = 'none';
                if (response.ok) {
                    window.location.href = '/download_page';
                } else {
                    console.error('Error downloading the file:', response.statusText);
                }
            }).catch(error => {
                spinner.style.display = 'none';
                console.error('Error downloading the file:', error);
            });
        });

        // Populate the second dropdown on page load
        window.addEventListener('load', function () {
            populateMangaDrowdown();
            populateSourceDropdown();
            populateFormatDropdown();
            populateDeviceDropdown();
            toggleDoubleSpreadCheckbox();
            validateOptions();
        });

        function selectValueIfExists(dropdownId, valueToSelect) {
            const dropdown = document.getElementById(dropdownId);

            if (dropdown) {
                for (let option of dropdown.options) {
                    if (option.value === valueToSelect) {
                        dropdown.value = valueToSelect;
                        console.log(`Value "${valueToSelect}" found and selected.`);
                        return;
                    }
                }
                console.log(`Value "${valueToSelect}" not found in the dropdown.`);
            }
        }
    </script>
</body>

</html>